/* Dark Blue - #3d5a80
Light Blue - #98c1d9
Lightest Blue - #e0fbfc
Red - #ee6c4d
Very Dark Blue - #293241 */

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    margin-top: 0px;
}

.tripForm {
    max-width: 40rem;
}

.tripForm .formRow {
    margin-top: 8px;
}

.tripForm .formRow.no-top-margin {
    margin-top: 0px;
}

.tripForm input {
    margin-right: 10px;
}

.tripForm textarea {
    width: 97%;
    background-color: inherit;
}

.formRow.travelBetweenBtnRow .MuiButton-root {
    margin: 2px;
}

.newTripLegDiv {
    background-color: #98c1d9;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin: 10px 0px;
    /* margin: 10px; */
}

.establishedTripLegDiv {
    /* min-height: 900px; */
}

.newTripTravelBetween {
    background-color: #ffa69e;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0px;
}

.travelBetween {
    margin: 10px 50px;
    text-align: center;
}

h2 {
    margin-top: 0px;
    margin-bottom: 6px;
}

.mapSinglePoint,
.mapMultiPoint {
    width: 400px;
    height: 100%;
}

.newActivity {
    padding: 4px;
    background-color: rgb(255, 255, 255, .25);
    margin-top: 6px;
    border-radius: 4px;
}

.newActivity .activityTopRow {
    display: flex;
    align-items: center;
}

.activityTopRow .flexend {
    margin-left: auto;
}

.activityTopRow .MuiButton-root {
    margin: 2px;
}

.clickToOpenClickMap {
    color: #3d5a80;
    cursor: pointer;
}

.landingStarterDiv .landingStarterDivText {
    margin-bottom: 50px;
}

.landingSearch {
    text-align: center;
    margin-top: -80px;
    margin-bottom: 80px;
}

.landingSearch2 {
    text-align: center;
    background-color: white;
    margin-top: -40px;
    width: 50%;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(32px);
    border-radius: 32px;
}

.featuredTripsDiv {
    display: flex;
    flex-direction: row;
}

.loginRegisterDiv {
    max-width: 330px;
}

.loginRegisterDiv div {
    margin-bottom: 6px;
}

.loginRegisterDiv button {
    margin-top: 6px;
}

.error {
    background-color: lightpink;
    width: 100%;
    padding: 6px;
}

@media (min-width: 1100px) {
    .mapSinglePoint {
        position: absolute;
        top: -100px;
        left: 700px;
    }
}

@media (min-width: 900px) {

    .mapMultiPoint {
        position: fixed;
        top: 100px;
        /* left: 1000px; */
        /* z-index: 1; */
    }
}